<div class="fields">
  <div class="col-md-12">
    <div class="col-md-10">
      <%= f.label :option %>
      <%= link_to_remove_fields "remove", f %>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="col-md-2">
      <p class="center"><%= f.label :correct %></p>
      <p class="center"><%= f.check_box :correct,
        class: "checkbox-options" %></p>
    </div>
  </div>
</div>
