<tr>
  <td id="vertical" class="id">
  <%= index = question_counter + 1 %>
  </td>
  <td id="vertical" class="content">
    <%= question.content %>
  </td>
  <td id="vertical" class="name">
    <%= question.category.name %>
  </td>
  <td id="vertical" class="state">
    <p class="label label-<%= question.waiting? ? "warning" :
      "success" %>">
      <%= t "#{question.state}" %>
    </p>
  </td>
  <td id="vertical" class="action">
    <p>
      <%= link_to user_question_path(current_user, question) do %>
        <span class="glyphicon glyphicon-eye-open"
          data-toggle="tooltip" data-placement="bottom"
          title="<%= t "show" %>"></span>
      <% end %>
      <% if question.waiting? %>
        <%= link_to edit_user_question_path(current_user, question) do %>
          <span class="glyphicon glyphicon-edit"
            data-toggle="tooltip" data-placement="bottom"
            title="<%= t "edit" %>"></span>
        <% end %>
        <%= link_to user_question_path(current_user, question),
            method: :delete, data: {confirm: t("areyousure")} do %>
          <span class="glyphicon glyphicon-trash"
            data-toggle="tooltip" data-placement="bottom"
            title="<%= t "delete" %>"></span>
        <% end %>
      <% end %>
    </p>
  </td>
  <td class="action-active">
  </td>
</tr>
