<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t "update_question" %></h4>
      </div>
      <div class="panel-body">
        <%= form_for [current_user, @question] do |f| %>
        <%= render "question_form", f: f %>
        <%= link_to t("delete_question"),
          user_question_path(current_user, @question),
          method: :delete, data: {confirm: t("areyousure")},
          class: "btn btn-danger pull-left col-md-4" %>
        <%= f.submit t("update_question"),
          class: "btn btn-primary pull-right col-md-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
