<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-12">
      <div class="col-md-8">
        <strong><%= @question.content %></strong>
      </div>
      <div class="col-md-4">
        <p class="label label-<%= @question.waiting? ? "warning" :
            "success" %> pull-right">
          <%= t "#{@question.state}" %>
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <p class="border"></p>
    </div>
    <div class="col-md-12">
      <ol type="a">
        <% if @question.options.any? %>
          <% @question.options.each do |option| %>
            <%= render "option", option: option %>
          <% end %>
        <% end %>
      </ol>
    </div>
    <% if @question.waiting? %>
      <div class="col-md-12">
        <%= link_to user_question_path(current_user, @question),
            method: :delete, data: {confirm: t("areyousure")} do %>
          <span class="btn btn-danger col-md-5 pull-left">
            <%= t "delete" %>
          </span>
        <% end %>
        <%= link_to edit_user_question_path(current_user, @question) do %>
          <span class="btn btn-primary col-md-5 pull-right">
            <%= t "edit" %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
