<tr>
  <td id="vertical">
    <%= category.id %>
  </td>
  <td id="vertical">
    <%= category.name %>
  </td>
  <td id="vertical">
    <%= category.description %>
  </td>
  <td id="vertical">
    <%= category.time_limit %>
  </td>
  <td id="vertical">
    <%= link_to t("edit"), edit_admin_category_path(category),
      class: "btn btn-xs btn-info" %>
    <%= link_to t("delete"), admin_category_path(category),
      method: :delete, data: {confirm: t("areyousure")},
      class: "btn btn-xs btn-danger" %>
  </td>
</tr>
