<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("fts"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("signup"), new_user_registration_path %></li>
        <% unless user_signed_in? %>
          <li><%= link_to t("signin"), new_user_session_path %></li>
        <% else %>
          <li>
            <%= link_to t("signout"), destroy_user_session_path,
              method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
